<footer class="site-footer">
  <div class="wrapper text-center">
    <div class="social-links">
      <!-- LinkedIn -->
      <a
        class="social-circle"
        href="https://www.linkedin.com/company/{{ site.linkedin_company }}"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"
          ></path>
          <circle
            stroke-linecap="round"
            stroke-linejoin="round"
            cx="4"
            cy="4"
            r="2"
          ></circle>
        </svg>
      </a>

      <!-- Email -->
      <a class="social-circle" href="mailto:{{ site.email }}">
        <svg
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
          ></path>
        </svg>
      </a>

      <!-- Website -->
      <a
        class="social-circle"
        href="https://squadralabs.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg
          stroke="currentColor"

          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"
          ></path>
        </svg>
      </a>

      <!-- Clutch Review -->
      <a
        class="social-circle"
        href="https://clutch.co/profile/squadra-labs"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <!-- C en forma de anillo grueso -->
          <path
            stroke-width="4.5"
            stroke-linecap="square"
            fill="none"
            d="M 18.2 4.8 A 9.5 9.5 0 1 0 18.2 19.2"
          />

          <!-- Círculo central -->
          <circle cx="12" cy="12" r="5" fill="currentColor" />
        </svg>
      </a>
    </div>
    <p>&copy; {{ 'now' | date: "%Y" }} All rights reserved.</p>
  </div>
</footer>
