*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  // --- COLORS --- //
  // Squadra Labs colors
  --clr-purple-dark: #1b0233;
  --clr-purple: #6104aa;
  --clr-purple-light: #8734eb;
  --clr-purple-lighter: #ede1ff;
  --clr-pink-light: #cf8cf2;
  // B&W colors
  --clr-gray-darkest: #0b0b0b;
  --clr-gray-darker: #444;
  --clr-gray-dark: #696969;
  --clr-gray: #999999;
  --clr-gray-light: #cccccc;
  --clr-gray-lighter: #ececec;

  // --- FONTS --- //
  --font-bold: 600;
  --font-semibold: 500;
  --font-regular: 400;
  --font-light: 300;
}

html {
  // scroll animation for links inside page
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--font-light);
  color: var(--clr-gray-darkest);
  line-height: 1.5;
}


/* ------------------ Utility Classes ------------------ */

/*  Text  */
.text-xxl {
  font-size: clamp(2.5rem, 5vw, 3.25rem);
  line-height: 1;
  font-weight: var(--font-bold);
}
.text-xl {
  font-size: clamp(1.8rem, calc(5vw + 1rem), 2.5rem);
  line-height: 1.1;
  font-weight: var(--font-bold);
}
.text-lg {
  font-size: clamp(1.5rem, calc(5vw + 1rem), 1.8rem);
}
.text-md {
  font-size: 1.1rem;
}
.text-sm {
  font-size: 0.9rem;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-upper {
  text-transform: uppercase;
}

/* Shadows */
.shadow {
  --clr-shadow: var(--clr-gray-light);
}

.shadow-light {
  --clr-shadow: var(--clr-gray-lighter);
}

// Override Minima defaults
$content-width: 800px !important;
$brand-color:   var(--clr-purple);
$spacing-unit:  30px !important;
$on-palm:          600px !default;
$on-laptop:        800px !default;



/* ------------------ Posts ------------------ */

.post-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  margin: 1rem 0;
}

.post-card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  }
}

.post-card-image {
  position: relative;
  padding-top: 56.25%; // 16:9 Aspect Ratio
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: transform 0.3s ease;
  }
}

.post-card-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.post-card-header {
  margin-bottom: 1.5rem;
}

.post-card-title {
  font-size: 1.2rem;
  line-height: 1.2;
  a {
    text-decoration: none;
    font-weight: var(--font-semibold);
    color: var(--clr-gray-darkest);
    &:hover {
      color: var(--clr-purple);
    }
  }
}

.post-card-meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: var(--clr-gray-dark);
}

.post-card-author,
.post-card-date {
  display: flex;
  align-items: center;
  gap: 0.35rem;
}

.meta-icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
  opacity: 0.8;
}

// Social Media Icons in Footer

.site-footer {
  color: white;
  background-color: var(--clr-purple-dark);
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  gap: 1rem;
}

.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 20%;
  padding: 0;
  line-height: 0;

  background-color: white;

  transition: all 0.3s ease;

  svg {
    width: 2rem;
    height: 2rem;
    color: var(--clr-purple-dark);
    margin: 0;
    padding: 0;
    stroke: currentColor;
    fill: none;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

// Responsive adjustments
@media screen and (max-width: 800px) {
  .post-grid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .post-card-content {
    padding: 1rem;
  }

  .post-card-title {
    font-size: 1.25rem;
  }

  .post-card-meta {
    gap: 0.75rem;
  }

  .meta-icon {
    width: 14px;
    height: 14px;
  }
}
