---
layout: default
title: 
---

<div class="home">
  <h1>Welcome to our Blog</h1>
  <p>Here you will find some of our written resources about our Projects, Data, and IT. For more, check our <a href="https://www.linkedin.com/company/squadralabs" target="_blank"> LinkedIn</a></p>
  
  {%- if site.posts.size > 0 -%}
    <div class="post-grid">
      {%- for post in site.posts -%}
      <article class="post-card">
        {%- if post.image -%}
        <div class="post-card-imaage">
          <a href="{{ post.url | relative_url }}">
            <img src="{{ post.image | relative_url }}" alt="{{ post.title | escape }}" loading="lazy">
          </a>
        </div>
        {%- endif -%}
        <div class="post-card-content">
          <header class="post-card-header">
            <h2 class="post-card-title">
              <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
            <span class="post-card-date">{{ post.date | date: "%B %-d, %Y" }}</span>
          </header>
        </div>
      </article>
      {%- endfor -%}
    </div>
  {%- endif -%}

</div> 